#konten-about {
  display: flex;
  margin-bottom: 20rem;
  padding-top: 100px;
  background-color: white;
}

.isi-about {
  margin-top: px;
  padding-top: 25px;
  padding-bottom: 850px;
  font-size: 40px;
  font-weight: 600px;
  color: black;
  text-align: center;
  border: 0.3rem solid #4700D8;
  box-shadow: 0 10px 15px #4700D8;
}

.column {
  margin-top: 60px;
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #4700D8;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #4700D8;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}